{% load static %}

<div class="row">
    <div class="col-6">&copy; Erik Rynnes</div>
    <div class="col-6">
        <nav class="">
            <ul id="icons">
                <li>
                    <a href="mailto:to_be_ahead@yahoo.com" target="_blank" aria-label="Send a email (opens your email-program in a new tab)"><i class="fa-solid fa-envelope"></i></a>
                </li>
                <li>
                    <a href="tel:+46707070707" target="_blank"><i class="fa-solid fa-square-phone"></i></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Visit our Instagram account  (opens in a new tab)"><i class="fa-brands fa-square-instagram"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/To_Be_Ahead" target="_blank" rel="noopener" aria-label="Visit our Twitter account  (opens in a new tab)"><i class="fa-brands fa-square-twitter"></i></a>
                </li>
                <li>
                    <a href="https://www.facebook.com/" target="_blank" rel="noopener" aria-label="Visit our Facebook page  (opens in a new tab)"><i class="fa-brands fa-square-facebook"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</div>
