{% load static %}
<nav class="navbar">
    <div class="container-fluid">
        <a href="#"><h2><span>To Be Ahead Blog</span></h2></a>
        <div>
            <ul>
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'account_logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'account_signup' %}">Register</a>
                </li>
                <li>
                    <a href="{% url 'account_login' %}">Login</a>
                </li>
                {% endif %}
            
            </ul>
        </div>
        {% if user.is_authenticated %}
        Logged in as: {{ user.get_username }}

        {% endif %}
    </div>
</nav>