<!DOCTYPE html>
<html lang="en">
<head>
    <title>To Be Ahead Blog</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Prepare your self and your family in a crisis!">
    <meta name="keywords" content="preppers, home preparation, crisis, to be ahead, blog">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
<h1>Welcome to To Be Ahead Blog</h1>
</body>
</html>