{% extends "base.html" %}
{% load static %}

{% block content %}

<div id="hero-container"></div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <div class="hero-text">
                    <h2 class="mb-5"><span>Be free!</span><br><span>Prepair yourself!</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    {% for post in post_list %}
    <div>
        <div>
            <div>
                <div>
                    {% if "placeholder" in post.featured_image.url %}
                    <img class="card-img-top"
                        src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
                    {% else %}
                    <img class="card-img-top" src=" {{ post.featured_image.url }}">
                    {% endif %}
                    <div>
                        <p class="author">Author: {{ post.author }}</p>
                    </div>
                </div>
                <a href="{% url 'post_detail' post.slug %}" class="post-link">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text">{{ post.excerpt }}</p>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}